<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gach Rud Ina áit{% endblock %}</title>

    <!-- Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Lato:wght@300;400;700&display=swap" rel="stylesheet" />

    <!-- Main Stylesheet -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

     <!-- Per page styles -->
      {% block extra_styles %}{% endblock %}
</head>

<body>
    <!-- Navigation -->

    <nav class="navbar">
        <a href="{{ url_for('index') }}" class="navbar__logo">Gach Rud Ina áit</a>

        <!-- Hamburger toggle (mobile) -->
         <button class="navbar__toggle" id="nacToggle" aria-lable="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
         </button>

         <ul class="navbar__links" id="navLinks">
            
            <li><a href="{{ url_for('index') }}"
            class="navbar__link {% if request.endpoint == 'index' %}navbar__link--active{% endif &}">
        Home
            </a></li>
            <li><a href="{{ url_for('recipes') }}"
                   class="navbar__link {% if request.endpoint == 'recipes' %}navbar__link--active{% endif %}">
                Recipes
            </a></li>
 
            <li><a href="{{ url_for('favourites') }}"
                   class="navbar__link {% if request.endpoint == 'favourites' %}navbar__link--active{% endif %}">
                Favourites
            </a></li>
 
            <li><a href="{{ url_for('about') }}"
                   class="navbar__link {% if request.endpoint == 'about' %}navbar__link--active{% endif %}">
                About
            </a></li>
        </ul>
 
        <a href="{{ url_for('add_recipe') }}" class="btn btn--primary navbar__cta">+ Add Recipe</a>
    </nav>

         </ul>
    </nav>

    <!-- Flash messages that will display success/error feedback from Flaks routes -->
     {% with messages = get_flashed_messages(with_categories=true) %}
     {% if messages %}
     <div class="flash-container">
        {% for category, message in messages %}
        <div class="flash flash--{{category}}">
            {{ message }}
            <button class="flash__close" onclick="this.parentElement.remove()">x</button>
        </div>
        {% endfor %}
     </div>
     {% endif %}
     {% endwith %}

     
</body>
</html>