{% extends "base.html" %}

{% block title %}Home | Gach Rud Ina áit{% endblock %}

{% block content %}

<!-- Hero Section -->

<section class="hero">
    <div class="hero__inner">
        <p class="hero__label">Do Leabhar Cócaireachta Pearsanta</p>
        <h1 class="hero__heading">Gach béile mór<br>
        <em>tosaíonn sé le oideas.</em></h1>

        <p class="hero__subtext">Store, organise, and discover your favourite recipes. From quick weeknight dinners to special occasions - everything it its place.</p>

        <div class="hero__actions">
            <a href="{{ url_for('recipes') }}" class="btn btn--warm">Browse Recipes</a>
            <a href="{{ url_for('add_recipe') }}" class="btn btn--outline-light">+ add a Recipe</a>
        </div>
    </div>
</section>


<!-- stats section -->

<section class="stats">
    <div class="stats__item">
        <span class="stats__number">{{ total_recipes }}</span>
        <span class="stats__label">Recipes Saved</span>
    </div>
    <div class="stats__item">
        <span class="stats__number">{{ total_categories }}</span>
        <span class="stats__label">Categories</span>
    </div>
    <div class="stats__item">
        <span class="stats__number">{{ total_favourites }}</span>
        <span class="stats__label">Favourites</span>
    </div>
</section>

<!-- Featured reciepes -->

<section class="featured">
    <div class="featured__header">
        <div>
            <p class="section__label">Fresh from the collection</p>
            <h2 class="section__heading">Recently Added</h2>
        </div>
        <a href="{{ url_for('recipes') }}" class="btn btn--outline">View All</a>
    </div>

    {% if recent_recipes %}
    <div class="recipe-grid">
        {% for recipe in recent_recipes %}
<a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}" class="recipe-card">
        
        <!-- Banner -->
         <div class="recipe-card__banner" style="background-color: {{ recipe.colour }};">
            <i class="fa-solid fa-bowl-food recipe-card__icon"></i>
         </div>

         <div class="recipe-card__body">
            <div class="recipe-card__top">
                <h3 class="recipe-card__title"> {{recipe.title }}</h3>
                <form action="{{ url_for('toggle_favourite', recipe_id=recipe.id) }}"
                method="POST"
                onclick="event.stopPropagation()">
                <button type="submit" class="fav-btn" aria-label="Toggle favourite">
                    {% if recipe.is_favourite %}
                    <i class="fa-solid fa-heart"></i>
                    {% else %}
                    <i class="fa-regular fa-heart"></i>
                    {% endif %}
                </button>
            </form>
            </div>

            <p class="recipe-card__desc">{{ recipe.description }}</p>

            <div class="recipe-card__meta">
                <span><i class="fa-regular fa-clock"></i> {{ recipe.cook_time }} </span>
                <span><i class="fa-solid fa-user-group"></i> {{ recipe.servings }} </span>
                <span class="badge badge--{{ recipe.difficulty | lower }}"> {{ recipe.difficulty }}</span>
            </div>
         </div>
         </a>
         {% endfor %}
    </div>

    {% else %}

    <div class="empty-state">
        <i class="fa-solid fa-bowl-food empty-state__icon"></i>
        <h3 class="empty-state__heading">No recipes yet!</h3>
        <p class="empty-state__text">Start building your collections by adding your first recipe.</p>
        <a href="{{ url_for('add_recipe') }}" class="btn btn--primary">+ Add Your First Recipe</a>
    </div>
    {% endif %}
</section>

{% endblock %}